<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deneme</title>
</head>
<body>
    <h1>c Sayfasi</h1>
    <%= typeof data != 'undefined' ? data : ''%> SAYFASİ GETİRİLDİ
</body>
</html>